<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Trending Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
    <ion-list>
      @for (item of movies; track item.id) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
         <ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height:40px"/>
      </ion-item>
    }
    </ion-list>
  } @else if(error) {
    <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']"></ion-alert>
  }
  <ion-list>
    @for (item of movies; track item.id) {
    <ion-item lines="none" class="ion-padding-bottom" button [routerLink]="['/details',item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" alt="poster">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>{{item.title}}</h3>
        <h3 style="font-weight:lighter">{{item.release_date | date: 'y'}}</h3>
      </ion-label>
      <ion-badge slot="end"> {{item.vote_average}} </ion-badge>
    </ion-item>
  } @empty {
    @if (!isLoading){
      <ion-item lines="none">
        <ion-label class="ion-text-center">No movies found</ion-label>
      </ion-item>
    }
  }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movies.."/>
  </ion-infinite-scroll>

 
</ion-content>