<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie()?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (movie(); as movie) {
    <ion-card>
      <div style="display: flex; justify-content: center;padding: 10px;">
        <img [src]="imageBaseUrl + '/w400' + movie?.poster_path" alt="poster" style="border-radius: 12px;"></div>
        <ion-card-header>
          <ion-card-title> {{movie.title}}</ion-card-title>
          <ion-text color="tertiary" style="padding-right: 10px; padding-top: 3px;">
            @for (i of movie.genres; track i.id;) {
              <ion-chip >{{i.name}}</ion-chip>
            }
          </ion-text>
          <ion-card-subtitle>{{movie.tagline}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label color="medium">{{movie.overview}}</ion-label>

        <ion-item lines="none">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>{{movie.release_date| date:'y'}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>{{movie.budget | currency: 'USD'}}</ion-label>
        </ion-item>

        

        </ion-card-content>
    </ion-card>
  }
</ion-content>